
.custombtn{
border: none;
background-color: white;
}
.mmtopnav , .mmdropdown{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.mmdropdown{
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
  background-color: white;
  border-radius: 6px;
  width: auto;
  padding: 5px;
}

.indNav{
  display: none;
  position: absolute;
  right: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
  background-color: white;
  border-radius: 6px;
  width: 640px;
  padding: 5px;
}
.showdropdown{
  display: block;
}
.mmtopnav > li{
  float:left;
  line-height: 30px;
  width: auto;
}
.mmtopnav li a{
  text-decoration: none;
  display: block;
  color: black;
}
.mmdropdown > li{
  padding: 5px;
}
.mmdropdown hr , .indNav hr{
  margin: 0px;
}
.indNav hr{
  display: none;
}
.mmdropdown > li:hover{
  background-color: rgb(236, 234, 234);
}

.col-lg{
  margin-bottom: 15px;
}
.col-lg a {
float: none;
color: black;
text-decoration: none;
display: block;
text-align: center;
}
.col-lg a:hover {
background-color: #ddd;
}
a > img{
  width: 90px;
  height: 70px;
}

.heading{
  margin-top: 30px; 
  color: #3FB8E4;
  text-align: center;
}
.maincontent{
  margin:40px;
  background-color: white;
  font-size: larger;
}
.imageslider{
  float:left;
  width: 650px;
  margin-right: 10px;
}
.subheading{
  color:#3598DB;
}
.maincontent p{
  text-align: justify;
}
td{
  padding-right: 100px;
}
@media (max-width: 991.98px) {
  .indNav .col-lg img{
    display: none;
  }
  .indNav hr{
    display: block;
    margin: 0px;
    padding: 0px;
  }
  .indNav, .mmdropdown{
    width: 200px;
  }
  .mmdropdown, .indnav{
     position: static;
    
  }
  .imageslider{
    width: 100%;
  }
}